<section uk-grid>
  <div class="uk-width-auto">
    <h1 class="uk-heading-primary uk-margin-large-top">Hello, I'm Pagekit</h1>
    <p class="uk-h2">A modern Open Source CMS <br>
      Intuitive. Modular. Flexible.</p>

    <a class="uk-button uk-button-large uk-button-default"  href="https://github.com/mark-de-froze/pagekit.markdefroze.com">Project on GitHub</a>
    <a class="uk-button uk-button-large uk-button-primary"  href="https://github.com/mark-de-froze/pagekit.markdefroze.com/archive/master.zip">Download</a>
  </div>
  <div class="uk-width-expand">
    <div class="uk-box-shadow-xlarge">
     <img src="<%=image_path('blog.png')%>" alt="">
    </div>
  </div>
</section>